<!--#######################################-->
<!-- Copyright (c) 2024  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2024-09-17                    -->
<!--#######################################-->

<launch> 
    <node name="py_template" pkg="hex_ros_sim_archer_y6" type="py_template.py" output="screen" >
        # parameter
        <rosparam file="$(find hex_ros_sim_archer_y6)/config/ros1/params.yaml"/>
        # subscribe
        <remap from="/in_str" to="/in_str" />
        <remap from="/in_int" to="/in_int" />
        # publish
        <remap from="/out_str" to="/out_str" />
        <remap from="/out_int" to="/out_int" />
    </node>    
</launch>
