<!--#######################################-->
<!-- Copyright (c) 2024  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2024-09-17                    -->
<!--#######################################-->

<launch>
    <!-- simulation arguments -->
    <arg name="viewer" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="test" default="false"/>

    <!-- resolve model paths -->
    <arg name="model_urdf" default="$(find hex_ros_urdf_archer_y6)/urdf/gp100_comp.urdf"/>
    <arg name="model_mjcf" default="$(find hex_ros_sim_archer_y6)/mjcf/scene.xml"/>

    <!-- set use_sim_time globally (the simulator publishes /clock) -->
    <param name="/use_sim_time" value="true"/>

    <!-- ==================== sim node ==================== -->
    <node name="sim_archer_y6" pkg="hex_ros_sim_archer_y6" type="sim_archer_y6.py" output="screen">
        <!-- load default parameters -->
        <rosparam file="$(find hex_ros_sim_archer_y6)/config/ros1/params.yaml"/>
        <!-- override with launch arguments -->
        <param name="model_urdf" value="$(arg model_urdf)"/>
        <param name="model_mjcf" value="$(arg model_mjcf)"/>
        <param name="prog_viewer" value="$(arg viewer)"/>
        <param name="prog_rviz" value="$(arg rviz)"/>
        <!-- subscribe -->
        <remap from="manip_ctrl" to="manip_ctrl"/>
        <!-- publish -->
        <remap from="manip_state" to="manip_state"/>
        <remap from="joint_states" to="joint_states"/>
    </node>

    <!-- ==================== rviz group ==================== -->
    <group if="$(arg rviz)">
        <!-- publish TF from /joint_states using the full URDF -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="robot_description"
                   command="$(find xacro)/xacro $(find hex_ros_urdf_archer_y6)/urdf/gp100_full.urdf"/>
        </node>
        <!-- launch rviz without a preset config; configure displays manually -->
        <node name="rviz" pkg="rviz" type="rviz"/>
    </group>

    <!-- ==================== test group ==================== -->
    <group if="$(arg test)">
        <node name="test_ctrl" pkg="hex_ros_sim_archer_y6" type="test_ctrl.py" output="screen"/>
    </group>
</launch>
